/* seleciona todos os elementos */
*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: black;

    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}



.container{
    position: absolute;
    height: 130vh;
    width: 100%;

}

.coracoes {
    z-index: -1;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 130vh;
  pointer-events: none; /* não atrapalha clique */
  overflow: hidden;
}


  .coracoes span {
    position: absolute;
    display: block;
    font-size: 24px;
    color: white;
    opacity: 0.9;
    filter: drop-shadow(0 0 15px #a109a1) drop-shadow(0 0 25px #ffb3ff);
    animation: cair calc(25s / var(--i)) linear infinite;
  }

  @keyframes cair {
    0% {
      transform: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translate(-100vw, 100vh) rotate(720deg);
      opacity: 0;
    }
  }

  .coracoes span:nth-child(1)  { top: -10%; left: 5%; }
  .coracoes span:nth-child(2)  { top: -10%; left: 10%; }
  .coracoes span:nth-child(3)  { top: -10%; left: 20%; }
  .coracoes span:nth-child(4)  { top: -10%; left: 30%; }
  .coracoes span:nth-child(5)  { top: -10%; left: 40%; }
  .coracoes span:nth-child(6) { top: -10%; left: 50%; }
  .coracoes span:nth-child(7) { top: -10%; left: 60%; }
  .coracoes span:nth-child(8) { top: -10%; left: 70%; }
  .coracoes span:nth-child(9) { top: -10%; left: 80%; }
  .coracoes span:nth-child(10) { top: -10%; left: 90%; }
  .coracoes span:nth-child(11) { top: -10%; left: 100%; }
  

  
  .coracoes span:nth-child(12) { top: 10%; left: 100%; }
  .coracoes span:nth-child(13) { top: 20%; left: 100%; }
  .coracoes span:nth-child(14) { top: 30%; left: 100%; }
  .coracoes span:nth-child(15) { top: 40%; left: 100%; }
  .coracoes span:nth-child(16) { top: 50%; left: 100%; }
  .coracoes span:nth-child(17) { top: 60%; left: 100%; }
  .coracoes span:nth-child(18) { top: 70%; left: 100%; }
  .coracoes span:nth-child(19) { top: 80%; left: 100%; }
  .coracoes span:nth-child(20) { top: 90%; left: 100%; }
  .coracoes span:nth-child(21) { top: 100%; left: 100%; }
  .coracoes span:nth-child(22) { top: 0%; left: 100%; }



.btnMenu button{
    background-color: white;
    width: 50px;   
    height: 25px;

    border-radius: 7px;

    z-index: 10;

}








/* espaço para o outro ficar em cima */
#bugHome{
    position: relative;
    height: 9vh;
    
}

/* a nav */
#nav{
    height: 9vh;
    width: 120% ;
    display: flex;
    align-items: center;
    justify-content: start;



    position: relative;

    
    background-color: rgb(38, 0, 95);
    color: white;


    box-shadow: 0 1px 10px rgb(0, 0, 0);

    transition: all 1.1s ease;
}


/* a nav ativa */
#nav.ativa{
    height: 29vh;
    position: absolute;
    width: 100%;

    top: -1px;
}





/* O botao menu */
#ativarbtn
 {
    position: relative;
    opacity: 1;
    pointer-events: all;

    margin: 1vh;

    display: flex;
    align-items: center;  
    justify-content: center;
}

/* o botao menu ativo */
#ativarbtn.ativa{
    opacity: 0;
    pointer-events: none;

    position: absolute;
}


/* o botao desativar */
#desativarbtn
 {
    position: absolute;
    opacity: 0;
    pointer-events: none;


    margin: 1vh;

    display: flex;
    align-items: center;  
    justify-content: center;
}

/* o botao desativar ativo */
#desativarbtn.ativa{
    opacity: 1;
    pointer-events: all;

    position: relative;
}

/* as disciplinas da nav */

#disciplinas{
    gap: 15px;

    color: rgb(255, 255, 255);

    position: absolute;
    pointer-events: none;
    display: flex;

    flex-direction: column;

    align-items: center;



    opacity: 0;

    transition: top 1.5s ease;
    
    top: -50px;
    
    z-index: 10;
    
}

/* para as disciplinas alinhar no meio */
#testar {
    display: flex;
    justify-content: center;
    align-items: center;
    

    width: 100%;
}

/* as disciplinas ativas */
#disciplinas.ativa{
    position: relative;
    display: flex;
    flex-direction: column;

    pointer-events: all;
    opacity: 1;



    top: 0px
}

/* os textos nav, li a */
li{
    list-style: none;
    font-size: clamp(10px, 3vw, 20px);
}










/* div pai de tudo, do inicio */
#home{
    min-height: 100vh;
    gap: clamp(0px,(720px - 100vw),5px);
    display: flex;


    align-items: center;
}



/* os dois containers onde ficam a caixa dos text e da foto */
.containerHome{
    box-sizing: border-box;

    height: 500px;
}
/* a caixa da esquerda, dos text */
.esquerdaH{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: clamp(50%, 100vw, 100%);
}
/* os dados, os text */
#dados{
    width: 100%;

    
    padding: 10px;

    margin-left: clamp(0px, (70vw - 488px), 100px);
}


/* a caixa do nome */
#homeMyName{
    width: 100%;

    position: relative;
    box-sizing: border-box;

    color: white;


    font-size: clamp(10px, 8vw, 70px);
    font-weight: bold;

    display: flex;
    
    align-items: center;
}
/* as caixa com os textos */
.homeText{
    width: 100%;
    box-sizing: border-box;

    font-size: clamp(5px, 4vw, 26px);

    color: rgb(194, 194, 194);


    display: flex;

    margin: 15px 0;
}

/* os botoes que vao mandar para um lado da pagina */
.direcionar{
    display: flex;
    gap: 10px;
}

.btnDirecionar{
    background-color: rgb(109, 95, 168);
    color: white;
    text-align: center;

    width: clamp(70px, 20vw, 150px);
    height: clamp(10px, 20vw, 40px);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    z-index: 10;
}

.btnDirecionar button{
    background-color: rgb(109, 95, 168);
    color: white;

    width: clamp(70px, 20vw, 150px);
    height: clamp(10px, 20vw, 40px);

    border: none;

    border-radius: 5px;

    font-size: clamp(15px, 3vw, 24px);
}




/* a caixa da direta, da foto */
.direitaH{
    box-sizing: border-box;
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: center;
}

/* a caixa onde vai ficar a imagem */
#imagemHome{
    background: url(img/cartoon.png);
    background-size: cover;
    background-position: center;

    box-shadow: 0 10px 100px 1px #9484ba;

    height: clamp(140px, 45vw, 450px);
    width: clamp(140px, 45vw, 450px);




    border-radius: 500px;

    box-sizing: border-box;

    margin-right: clamp(0px, (70vw - 488px), 50px);

    animation: brilhar 4s linear infinite;   
}

@keyframes brilhar {
    0% {
        box-shadow: 0 10px 50px 0px #9484ba;
    }

    50% {
        box-shadow: 0 10px 70px 1px #9484ba;
    }

    100% {
        box-shadow: 0 10px 50px 0px #9484ba;

    }
}




.onda{
    width: 100%;

    height: 5cm;
    display: flex;
       
    overflow: hidden;
    
}

.onda img {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    height: 4cm;

    position: relative;

    top: 50%;
}

.baixo{
    width: 100%;

    height: 5cm;
    display: flex;
       
    overflow: hidden;


}

.baixo img{
        display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    height: 4cm;

    position: relative;

    bottom: 30%;

    transform: scale(-1);

}





#pt2{
    background-color: rgb(35, 3, 114);
    height: auto;
    display: flex;
    flex-direction: column;

    width: 100%;
    align-items: center;

    height: auto;
}


@media (max-width: 371px){
    #pt2{
        gap: 10px;
        
    }
}

.textSteacks{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    height: auto;

    color: white;
}

.tituSteack{
    font-size: clamp(10px, 30vw, 50px);
    font-weight: 600;
}

.textoSteack{
    font-size: clamp(20px, 3vw, 40px);
    font-weight: 545;

    font-family: Georgia, 'Times New Roman', Times, serif;
}



#steacks{
    


    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
 


    gap: clamp(5px, 3vw, 15px);

    width: 100%;
    height: auto;

    padding: 25px;



}


.boxBlack{



    background-color: black;

    height: clamp(100px, 20vw, 170px);
    width: clamp(90px, 20vw, 150px);
    
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 10px;

    border-radius: 10px;
}



.fotoSteack{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 70%;
    width: 70%;
    

    border-radius: 20px;

    background-color: rgb(143, 143, 143);

    border: 5px solid rgb(143, 143, 143);
}

.nomeSteack{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;

    height: 30%;
    width: 70%;
    box-sizing: border-box;

    color: rgb(247, 246, 246);
}

.java{
    transform: translateY(2px);
    font-size: clamp(15px, 3vw, 20px);
}






















#paiCard{
    margin-top: 5cm;
    
    display: flex;
    flex-direction: column;
}





/* a div pai dos card */
.divCard{


    width: 100%;

    overflow: hidden;
    height: 11cm;

    gap: 50px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* a div que e movida ao clicar no botao */
#mover{
    transform: translateX(-110%);
    transition: transform 0.5s ease;    

    display: flex;
    
    
    width: 230px;
    height: 360px;
    
    gap: 10%;
    
}



/* o card */
.card{
    
    
    flex: 0 0 100%;
    height: 100%;

    border: 5px solid rgb(35, 3, 114);
    
    box-sizing: border-box;

    flex-direction: column;
    display: flex;

    transition: all 0.5s ease;
    

    
}
/* card aumenta */
.card:hover{
    transform: scale(110%);
}
/* botao de mover */
.btnMover{
    height: 45px;
    width: 50px;

    border-radius: 100px;

    position: absolute;

    z-index: 10;

}
/* botao esquerda */
.esquerda{
    left: 10vw;
}
/* botao direita */
.direita{
    right: 10vw;
}

/* onde vai ficar a foto no card */
.fotoCard{
    height: 155px;

    border: 1px solid rgb(115, 115, 115);
    z-index: 10;
}
/* onde vai ficar o titulo no card */
.tituCard{
    height: 35px;
    text-align: center;

    transform: translateY(-1px);
    border: 1px solid #9484ba;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;

    font-size: clamp(10px, 3vw, 17px);

    color: white;
}
/* onde vai ficar o texto no card */
.textoCard{
    height: 140px;        
    font-size: clamp(10px, 4vw, 17px);
    
    font-weight: 550;
    color: white;

    text-align: center;
}




#dividirComNome{
    width: 10%;
    height: 5cm;
    /* border: 5px solid red; */
}


#piscando{
    /* border: 5px solid red; */

    height: 50px;

    font-size: clamp(20px, 5vw, 50px);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 50%;
    transform: translateY(clamp(70%, 13vw, 140%));
    

    animation: piscar 2s linear infinite}

@keyframes piscar {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}







